<header class="gh-setup-head">
    <nav class="gh-setup-nav">
        <ol>
            {{#gh-activating-list-item route="setup.one"}}
                <i class="icon-check"></i><span class="num">1</span>
            {{/gh-activating-list-item}}
            <li class="divider"></li>
            {{#gh-activating-list-item route="setup.two"}}
                <i class="icon-check"></i><span class="num">2</span>
            {{/gh-activating-list-item}}
            <li class="divider"></li>
            {{#gh-activating-list-item route="setup.three"}}
                <i class="icon-check"></i><span class="num">3</span>
            {{/gh-activating-list-item}}
        </ol>
    </nav>
</header>

<div class="gh-setup-content-wrap">
    {{outlet}}
</div>

